# Дані OSRM (ці файли дуже великі і не повинні потрапляти в Git)
osrm-data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Replit
.replit
.upm
.config
.cache
.breakpoints
replit.nix
.pythonlibs